parameters:
	paths:
		- app
	level: 8
	ignoreErrors:
		- '#Call to an undefined method Illuminate#'
		- '#expects App\\Models\\Eloquent\\User, Illuminate\\Contracts\\Auth\\Authenticatable\|null given#'
		-
			message: '#Illuminate\\Contracts\\View\\Factory#'
			path: app/Http/Controllers/*
		-
			message: '#.+#'
			paths: 
				-	app/Console/Kernel.php
				-	app/Exceptions/Handler.php
				-	app/Http/Kernel.php
				-	app/Http/Middleware/Authenticate.php
				-	app/Http/Middleware/CheckForMaintenanceMode.php
				-	app/Http/Middleware/EncryptCookies.php
				-	app/Http/Middleware/PreventRequestsDuringMaintenance.php
				-	app/Http/Middleware/TrimStrings.php
				-	app/Http/Middleware/TrustHosts.php
				-	app/Http/Middleware/TrustProxies.php
				-	app/Http/Middleware/VerifyCsrfToken.php
